* {
  margin: 0;
}

/* CONTAINER */
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
}
/* SEARCH */
.search {
  border: 1px black solid;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 20px repeat(4, 1fr);
  align-items: center;
}

.search-icon,
.bell-icon {
  height: 20px;
}

.bell-icon {
  justify-self: end;
}

#search {
  background-color: gainsboro;
  border-radius: 10px;
  border: none;
  width: 500px;
  padding: 3px;
}

.profile-icon {
  height: 50px;
  border-radius: 50%;
  justify-self: center;
}

.profile-name {
  font-weight: bold;
}
/* SIDEBAR */
.sidebar {
  border: 1px black solid;
  grid-row: 1 / 4;
}

/* PROFILE */
.profile {
  border: 1px black solid;
  display: grid;
  grid-template-columns: 75px 4fr 1fr 1fr 1fr;
  align-items: center;
}

.profile-pic {
  height: 75px;
  border-radius: 50%;
}

.hello {
  font-size: 1rem;
}
h1 {
  font-size: 1.5rem;
}
.btn-container {
  justify-self: center;
}
.profile-btn {
  padding: 5px 20px;
}
/* CONTENT */
.content {
  border: 1px black solid;
}
